<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hhu.ssm.mapper.WmsAreaLogMapper" >
  <resultMap id="BaseResultMap" type="cn.hhu.ssm.po.WmsAreaLog" >
    <id column="Areas_LogID" property="areasLogid" jdbcType="INTEGER" />
    <result column="Areas_ID" property="areasId" jdbcType="INTEGER" />
    <result column="Areas_PreModifiedState" property="areasPremodifiedstate" jdbcType="VARCHAR" />
    <result column="Areas_ModifiedState" property="areasModifiedstate" jdbcType="VARCHAR" />
    <result column="Employee_ID" property="employeeId" jdbcType="INTEGER" />
    <result column="ModifyMan" property="modifyman" jdbcType="VARCHAR" />
    <result column="ModifiedDate" property="modifieddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Areas_LogID, Areas_ID, Areas_PreModifiedState, Areas_ModifiedState, Employee_ID, 
    ModifyMan, ModifiedDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hhu.ssm.po.WmsAreaLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wms_area_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wms_area_log
    where Areas_LogID = #{areasLogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wms_area_log
    where Areas_LogID = #{areasLogid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hhu.ssm.po.WmsAreaLogExample" >
    delete from wms_area_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hhu.ssm.po.WmsAreaLog" >
    insert into wms_area_log (Areas_LogID, Areas_ID, Areas_PreModifiedState, 
      Areas_ModifiedState, Employee_ID, ModifyMan, 
      ModifiedDate)
    values (#{areasLogid,jdbcType=INTEGER}, #{areasId,jdbcType=INTEGER}, #{areasPremodifiedstate,jdbcType=VARCHAR}, 
      #{areasModifiedstate,jdbcType=VARCHAR}, #{employeeId,jdbcType=INTEGER}, #{modifyman,jdbcType=VARCHAR}, 
      #{modifieddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.hhu.ssm.po.WmsAreaLog" >
    insert into wms_area_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areasLogid != null" >
        Areas_LogID,
      </if>
      <if test="areasId != null" >
        Areas_ID,
      </if>
      <if test="areasPremodifiedstate != null" >
        Areas_PreModifiedState,
      </if>
      <if test="areasModifiedstate != null" >
        Areas_ModifiedState,
      </if>
      <if test="employeeId != null" >
        Employee_ID,
      </if>
      <if test="modifyman != null" >
        ModifyMan,
      </if>
      <if test="modifieddate != null" >
        ModifiedDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areasLogid != null" >
        #{areasLogid,jdbcType=INTEGER},
      </if>
      <if test="areasId != null" >
        #{areasId,jdbcType=INTEGER},
      </if>
      <if test="areasPremodifiedstate != null" >
        #{areasPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="areasModifiedstate != null" >
        #{areasModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifieddate != null" >
        #{modifieddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hhu.ssm.po.WmsAreaLogExample" resultType="java.lang.Integer" >
    select count(*) from wms_area_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wms_area_log
    <set >
      <if test="record.areasLogid != null" >
        Areas_LogID = #{record.areasLogid,jdbcType=INTEGER},
      </if>
      <if test="record.areasId != null" >
        Areas_ID = #{record.areasId,jdbcType=INTEGER},
      </if>
      <if test="record.areasPremodifiedstate != null" >
        Areas_PreModifiedState = #{record.areasPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="record.areasModifiedstate != null" >
        Areas_ModifiedState = #{record.areasModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        Employee_ID = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyman != null" >
        ModifyMan = #{record.modifyman,jdbcType=VARCHAR},
      </if>
      <if test="record.modifieddate != null" >
        ModifiedDate = #{record.modifieddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wms_area_log
    set Areas_LogID = #{record.areasLogid,jdbcType=INTEGER},
      Areas_ID = #{record.areasId,jdbcType=INTEGER},
      Areas_PreModifiedState = #{record.areasPremodifiedstate,jdbcType=VARCHAR},
      Areas_ModifiedState = #{record.areasModifiedstate,jdbcType=VARCHAR},
      Employee_ID = #{record.employeeId,jdbcType=INTEGER},
      ModifyMan = #{record.modifyman,jdbcType=VARCHAR},
      ModifiedDate = #{record.modifieddate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hhu.ssm.po.WmsAreaLog" >
    update wms_area_log
    <set >
      <if test="areasId != null" >
        Areas_ID = #{areasId,jdbcType=INTEGER},
      </if>
      <if test="areasPremodifiedstate != null" >
        Areas_PreModifiedState = #{areasPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="areasModifiedstate != null" >
        Areas_ModifiedState = #{areasModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        Employee_ID = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="modifyman != null" >
        ModifyMan = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifieddate != null" >
        ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Areas_LogID = #{areasLogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hhu.ssm.po.WmsAreaLog" >
    update wms_area_log
    set Areas_ID = #{areasId,jdbcType=INTEGER},
      Areas_PreModifiedState = #{areasPremodifiedstate,jdbcType=VARCHAR},
      Areas_ModifiedState = #{areasModifiedstate,jdbcType=VARCHAR},
      Employee_ID = #{employeeId,jdbcType=INTEGER},
      ModifyMan = #{modifyman,jdbcType=VARCHAR},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP}
    where Areas_LogID = #{areasLogid,jdbcType=INTEGER}
  </update>
</mapper>