<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hhu.ssm.mapper.WmsBaseSupplierMapper" >
  <resultMap id="BaseResultMap" type="cn.hhu.ssm.po.WmsBaseSupplier" >
    <id column="Supplier_ID" property="supplierId" jdbcType="INTEGER" />
    <result column="Supplier_Number" property="supplierNumber" jdbcType="VARCHAR" />
    <result column="SupplierCode" property="suppliercode" jdbcType="VARCHAR" />
    <result column="SupplierName" property="suppliername" jdbcType="VARCHAR" />
    <result column="BusinessLicenseNumber" property="businesslicensenumber" jdbcType="VARCHAR" />
    <result column="BusinessLicenseValidity" property="businesslicensevalidity" jdbcType="TIMESTAMP" />
    <result column="BusinessLicensePicture" property="businesslicensepicture" jdbcType="VARCHAR" />
    <result column="BusinessCertificateNumber" property="businesscertificatenumber" jdbcType="VARCHAR" />
    <result column="BusinessCertificateValidity" property="businesscertificatevalidity" jdbcType="TIMESTAMP" />
    <result column="BusinessCertificatePicture" property="businesscertificatepicture" jdbcType="VARCHAR" />
    <result column="BusinessScope" property="businessscope" jdbcType="VARCHAR" />
    <result column="BusinessScopeCode" property="businessscopecode" jdbcType="VARCHAR" />
    <result column="FirstBusiness" property="firstbusiness" jdbcType="INTEGER" />
    <result column="MakeOrderDate" property="makeorderdate" jdbcType="TIMESTAMP" />
    <result column="makeOrderMan" property="makeorderman" jdbcType="INTEGER" />
    <result column="IsReview" property="isreview" jdbcType="INTEGER" />
    <result column="CooperationStatus" property="cooperationstatus" jdbcType="INTEGER" />
    <result column="RecordNumber" property="recordnumber" jdbcType="VARCHAR" />
    <result column="RecordValidity" property="recordvalidity" jdbcType="TIMESTAMP" />
    <result column="RecordApproveDate" property="recordapprovedate" jdbcType="TIMESTAMP" />
    <result column="RecordIssuingAuthority" property="recordissuingauthority" jdbcType="VARCHAR" />
    <result column="RecordPicture" property="recordpicture" jdbcType="VARCHAR" />
    <result column="CertificateApproveDate" property="certificateapprovedate" jdbcType="DATE" />
    <result column="CertificateIssuingAuthority" property="certificateissuingauthority" jdbcType="VARCHAR" />
    <result column="SupplierType" property="suppliertype" jdbcType="INTEGER" />
    <result column="ProductionCertificateNumber" property="productioncertificatenumber" jdbcType="VARCHAR" />
    <result column="ProductionCertificateValidity" property="productioncertificatevalidity" jdbcType="TIMESTAMP" />
    <result column="ProductionCertificationPicture" property="productioncertificationpicture" jdbcType="VARCHAR" />
    <result column="ProductionScope" property="productionscope" jdbcType="VARCHAR" />
    <result column="ProductionScopeCode" property="productionscopecode" jdbcType="VARCHAR" />
    <result column="ProductionAddress" property="productionaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Supplier_ID, Supplier_Number, SupplierCode, SupplierName, BusinessLicenseNumber, 
    BusinessLicenseValidity, BusinessLicensePicture, BusinessCertificateNumber, BusinessCertificateValidity, 
    BusinessCertificatePicture, BusinessScope, BusinessScopeCode, FirstBusiness, MakeOrderDate, 
    makeOrderMan, IsReview, CooperationStatus, RecordNumber, RecordValidity, RecordApproveDate, 
    RecordIssuingAuthority, RecordPicture, CertificateApproveDate, CertificateIssuingAuthority, 
    SupplierType, ProductionCertificateNumber, ProductionCertificateValidity, ProductionCertificationPicture, 
    ProductionScope, ProductionScopeCode, ProductionAddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hhu.ssm.po.WmsBaseSupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wms_base_supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wms_base_supplier
    where Supplier_ID = #{supplierId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wms_base_supplier
    where Supplier_ID = #{supplierId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hhu.ssm.po.WmsBaseSupplierExample" >
    delete from wms_base_supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hhu.ssm.po.WmsBaseSupplier" >
    insert into wms_base_supplier (Supplier_ID, Supplier_Number, SupplierCode, 
      SupplierName, BusinessLicenseNumber, BusinessLicenseValidity, 
      BusinessLicensePicture, BusinessCertificateNumber, 
      BusinessCertificateValidity, BusinessCertificatePicture, 
      BusinessScope, BusinessScopeCode, FirstBusiness, 
      MakeOrderDate, makeOrderMan, IsReview, 
      CooperationStatus, RecordNumber, RecordValidity, 
      RecordApproveDate, RecordIssuingAuthority, 
      RecordPicture, CertificateApproveDate, CertificateIssuingAuthority, 
      SupplierType, ProductionCertificateNumber, 
      ProductionCertificateValidity, ProductionCertificationPicture, 
      ProductionScope, ProductionScopeCode, ProductionAddress
      )
    values (#{supplierId,jdbcType=INTEGER}, #{supplierNumber,jdbcType=VARCHAR}, #{suppliercode,jdbcType=VARCHAR}, 
      #{suppliername,jdbcType=VARCHAR}, #{businesslicensenumber,jdbcType=VARCHAR}, #{businesslicensevalidity,jdbcType=TIMESTAMP}, 
      #{businesslicensepicture,jdbcType=VARCHAR}, #{businesscertificatenumber,jdbcType=VARCHAR}, 
      #{businesscertificatevalidity,jdbcType=TIMESTAMP}, #{businesscertificatepicture,jdbcType=VARCHAR}, 
      #{businessscope,jdbcType=VARCHAR}, #{businessscopecode,jdbcType=VARCHAR}, #{firstbusiness,jdbcType=INTEGER}, 
      #{makeorderdate,jdbcType=TIMESTAMP}, #{makeorderman,jdbcType=INTEGER}, #{isreview,jdbcType=INTEGER}, 
      #{cooperationstatus,jdbcType=INTEGER}, #{recordnumber,jdbcType=VARCHAR}, #{recordvalidity,jdbcType=TIMESTAMP}, 
      #{recordapprovedate,jdbcType=TIMESTAMP}, #{recordissuingauthority,jdbcType=VARCHAR}, 
      #{recordpicture,jdbcType=VARCHAR}, #{certificateapprovedate,jdbcType=DATE}, #{certificateissuingauthority,jdbcType=VARCHAR}, 
      #{suppliertype,jdbcType=INTEGER}, #{productioncertificatenumber,jdbcType=VARCHAR}, 
      #{productioncertificatevalidity,jdbcType=TIMESTAMP}, #{productioncertificationpicture,jdbcType=VARCHAR}, 
      #{productionscope,jdbcType=VARCHAR}, #{productionscopecode,jdbcType=VARCHAR}, #{productionaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hhu.ssm.po.WmsBaseSupplier" >
    insert into wms_base_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        Supplier_ID,
      </if>
      <if test="supplierNumber != null" >
        Supplier_Number,
      </if>
      <if test="suppliercode != null" >
        SupplierCode,
      </if>
      <if test="suppliername != null" >
        SupplierName,
      </if>
      <if test="businesslicensenumber != null" >
        BusinessLicenseNumber,
      </if>
      <if test="businesslicensevalidity != null" >
        BusinessLicenseValidity,
      </if>
      <if test="businesslicensepicture != null" >
        BusinessLicensePicture,
      </if>
      <if test="businesscertificatenumber != null" >
        BusinessCertificateNumber,
      </if>
      <if test="businesscertificatevalidity != null" >
        BusinessCertificateValidity,
      </if>
      <if test="businesscertificatepicture != null" >
        BusinessCertificatePicture,
      </if>
      <if test="businessscope != null" >
        BusinessScope,
      </if>
      <if test="businessscopecode != null" >
        BusinessScopeCode,
      </if>
      <if test="firstbusiness != null" >
        FirstBusiness,
      </if>
      <if test="makeorderdate != null" >
        MakeOrderDate,
      </if>
      <if test="makeorderman != null" >
        makeOrderMan,
      </if>
      <if test="isreview != null" >
        IsReview,
      </if>
      <if test="cooperationstatus != null" >
        CooperationStatus,
      </if>
      <if test="recordnumber != null" >
        RecordNumber,
      </if>
      <if test="recordvalidity != null" >
        RecordValidity,
      </if>
      <if test="recordapprovedate != null" >
        RecordApproveDate,
      </if>
      <if test="recordissuingauthority != null" >
        RecordIssuingAuthority,
      </if>
      <if test="recordpicture != null" >
        RecordPicture,
      </if>
      <if test="certificateapprovedate != null" >
        CertificateApproveDate,
      </if>
      <if test="certificateissuingauthority != null" >
        CertificateIssuingAuthority,
      </if>
      <if test="suppliertype != null" >
        SupplierType,
      </if>
      <if test="productioncertificatenumber != null" >
        ProductionCertificateNumber,
      </if>
      <if test="productioncertificatevalidity != null" >
        ProductionCertificateValidity,
      </if>
      <if test="productioncertificationpicture != null" >
        ProductionCertificationPicture,
      </if>
      <if test="productionscope != null" >
        ProductionScope,
      </if>
      <if test="productionscopecode != null" >
        ProductionScopeCode,
      </if>
      <if test="productionaddress != null" >
        ProductionAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierNumber != null" >
        #{supplierNumber,jdbcType=VARCHAR},
      </if>
      <if test="suppliercode != null" >
        #{suppliercode,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensenumber != null" >
        #{businesslicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensevalidity != null" >
        #{businesslicensevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="businesslicensepicture != null" >
        #{businesslicensepicture,jdbcType=VARCHAR},
      </if>
      <if test="businesscertificatenumber != null" >
        #{businesscertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="businesscertificatevalidity != null" >
        #{businesscertificatevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="businesscertificatepicture != null" >
        #{businesscertificatepicture,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        #{businessscope,jdbcType=VARCHAR},
      </if>
      <if test="businessscopecode != null" >
        #{businessscopecode,jdbcType=VARCHAR},
      </if>
      <if test="firstbusiness != null" >
        #{firstbusiness,jdbcType=INTEGER},
      </if>
      <if test="makeorderdate != null" >
        #{makeorderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="makeorderman != null" >
        #{makeorderman,jdbcType=INTEGER},
      </if>
      <if test="isreview != null" >
        #{isreview,jdbcType=INTEGER},
      </if>
      <if test="cooperationstatus != null" >
        #{cooperationstatus,jdbcType=INTEGER},
      </if>
      <if test="recordnumber != null" >
        #{recordnumber,jdbcType=VARCHAR},
      </if>
      <if test="recordvalidity != null" >
        #{recordvalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="recordapprovedate != null" >
        #{recordapprovedate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordissuingauthority != null" >
        #{recordissuingauthority,jdbcType=VARCHAR},
      </if>
      <if test="recordpicture != null" >
        #{recordpicture,jdbcType=VARCHAR},
      </if>
      <if test="certificateapprovedate != null" >
        #{certificateapprovedate,jdbcType=DATE},
      </if>
      <if test="certificateissuingauthority != null" >
        #{certificateissuingauthority,jdbcType=VARCHAR},
      </if>
      <if test="suppliertype != null" >
        #{suppliertype,jdbcType=INTEGER},
      </if>
      <if test="productioncertificatenumber != null" >
        #{productioncertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="productioncertificatevalidity != null" >
        #{productioncertificatevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="productioncertificationpicture != null" >
        #{productioncertificationpicture,jdbcType=VARCHAR},
      </if>
      <if test="productionscope != null" >
        #{productionscope,jdbcType=VARCHAR},
      </if>
      <if test="productionscopecode != null" >
        #{productionscopecode,jdbcType=VARCHAR},
      </if>
      <if test="productionaddress != null" >
        #{productionaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hhu.ssm.po.WmsBaseSupplierExample" resultType="java.lang.Integer" >
    select count(*) from wms_base_supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wms_base_supplier
    <set >
      <if test="record.supplierId != null" >
        Supplier_ID = #{record.supplierId,jdbcType=INTEGER},
      </if>
      <if test="record.supplierNumber != null" >
        Supplier_Number = #{record.supplierNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliercode != null" >
        SupplierCode = #{record.suppliercode,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliername != null" >
        SupplierName = #{record.suppliername,jdbcType=VARCHAR},
      </if>
      <if test="record.businesslicensenumber != null" >
        BusinessLicenseNumber = #{record.businesslicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.businesslicensevalidity != null" >
        BusinessLicenseValidity = #{record.businesslicensevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="record.businesslicensepicture != null" >
        BusinessLicensePicture = #{record.businesslicensepicture,jdbcType=VARCHAR},
      </if>
      <if test="record.businesscertificatenumber != null" >
        BusinessCertificateNumber = #{record.businesscertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.businesscertificatevalidity != null" >
        BusinessCertificateValidity = #{record.businesscertificatevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="record.businesscertificatepicture != null" >
        BusinessCertificatePicture = #{record.businesscertificatepicture,jdbcType=VARCHAR},
      </if>
      <if test="record.businessscope != null" >
        BusinessScope = #{record.businessscope,jdbcType=VARCHAR},
      </if>
      <if test="record.businessscopecode != null" >
        BusinessScopeCode = #{record.businessscopecode,jdbcType=VARCHAR},
      </if>
      <if test="record.firstbusiness != null" >
        FirstBusiness = #{record.firstbusiness,jdbcType=INTEGER},
      </if>
      <if test="record.makeorderdate != null" >
        MakeOrderDate = #{record.makeorderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.makeorderman != null" >
        makeOrderMan = #{record.makeorderman,jdbcType=INTEGER},
      </if>
      <if test="record.isreview != null" >
        IsReview = #{record.isreview,jdbcType=INTEGER},
      </if>
      <if test="record.cooperationstatus != null" >
        CooperationStatus = #{record.cooperationstatus,jdbcType=INTEGER},
      </if>
      <if test="record.recordnumber != null" >
        RecordNumber = #{record.recordnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.recordvalidity != null" >
        RecordValidity = #{record.recordvalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordapprovedate != null" >
        RecordApproveDate = #{record.recordapprovedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordissuingauthority != null" >
        RecordIssuingAuthority = #{record.recordissuingauthority,jdbcType=VARCHAR},
      </if>
      <if test="record.recordpicture != null" >
        RecordPicture = #{record.recordpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateapprovedate != null" >
        CertificateApproveDate = #{record.certificateapprovedate,jdbcType=DATE},
      </if>
      <if test="record.certificateissuingauthority != null" >
        CertificateIssuingAuthority = #{record.certificateissuingauthority,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliertype != null" >
        SupplierType = #{record.suppliertype,jdbcType=INTEGER},
      </if>
      <if test="record.productioncertificatenumber != null" >
        ProductionCertificateNumber = #{record.productioncertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.productioncertificatevalidity != null" >
        ProductionCertificateValidity = #{record.productioncertificatevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productioncertificationpicture != null" >
        ProductionCertificationPicture = #{record.productioncertificationpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.productionscope != null" >
        ProductionScope = #{record.productionscope,jdbcType=VARCHAR},
      </if>
      <if test="record.productionscopecode != null" >
        ProductionScopeCode = #{record.productionscopecode,jdbcType=VARCHAR},
      </if>
      <if test="record.productionaddress != null" >
        ProductionAddress = #{record.productionaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wms_base_supplier
    set Supplier_ID = #{record.supplierId,jdbcType=INTEGER},
      Supplier_Number = #{record.supplierNumber,jdbcType=VARCHAR},
      SupplierCode = #{record.suppliercode,jdbcType=VARCHAR},
      SupplierName = #{record.suppliername,jdbcType=VARCHAR},
      BusinessLicenseNumber = #{record.businesslicensenumber,jdbcType=VARCHAR},
      BusinessLicenseValidity = #{record.businesslicensevalidity,jdbcType=TIMESTAMP},
      BusinessLicensePicture = #{record.businesslicensepicture,jdbcType=VARCHAR},
      BusinessCertificateNumber = #{record.businesscertificatenumber,jdbcType=VARCHAR},
      BusinessCertificateValidity = #{record.businesscertificatevalidity,jdbcType=TIMESTAMP},
      BusinessCertificatePicture = #{record.businesscertificatepicture,jdbcType=VARCHAR},
      BusinessScope = #{record.businessscope,jdbcType=VARCHAR},
      BusinessScopeCode = #{record.businessscopecode,jdbcType=VARCHAR},
      FirstBusiness = #{record.firstbusiness,jdbcType=INTEGER},
      MakeOrderDate = #{record.makeorderdate,jdbcType=TIMESTAMP},
      makeOrderMan = #{record.makeorderman,jdbcType=INTEGER},
      IsReview = #{record.isreview,jdbcType=INTEGER},
      CooperationStatus = #{record.cooperationstatus,jdbcType=INTEGER},
      RecordNumber = #{record.recordnumber,jdbcType=VARCHAR},
      RecordValidity = #{record.recordvalidity,jdbcType=TIMESTAMP},
      RecordApproveDate = #{record.recordapprovedate,jdbcType=TIMESTAMP},
      RecordIssuingAuthority = #{record.recordissuingauthority,jdbcType=VARCHAR},
      RecordPicture = #{record.recordpicture,jdbcType=VARCHAR},
      CertificateApproveDate = #{record.certificateapprovedate,jdbcType=DATE},
      CertificateIssuingAuthority = #{record.certificateissuingauthority,jdbcType=VARCHAR},
      SupplierType = #{record.suppliertype,jdbcType=INTEGER},
      ProductionCertificateNumber = #{record.productioncertificatenumber,jdbcType=VARCHAR},
      ProductionCertificateValidity = #{record.productioncertificatevalidity,jdbcType=TIMESTAMP},
      ProductionCertificationPicture = #{record.productioncertificationpicture,jdbcType=VARCHAR},
      ProductionScope = #{record.productionscope,jdbcType=VARCHAR},
      ProductionScopeCode = #{record.productionscopecode,jdbcType=VARCHAR},
      ProductionAddress = #{record.productionaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hhu.ssm.po.WmsBaseSupplier" >
    update wms_base_supplier
    <set >
      <if test="supplierNumber != null" >
        Supplier_Number = #{supplierNumber,jdbcType=VARCHAR},
      </if>
      <if test="suppliercode != null" >
        SupplierCode = #{suppliercode,jdbcType=VARCHAR},
      </if>
      <if test="suppliername != null" >
        SupplierName = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensenumber != null" >
        BusinessLicenseNumber = #{businesslicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensevalidity != null" >
        BusinessLicenseValidity = #{businesslicensevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="businesslicensepicture != null" >
        BusinessLicensePicture = #{businesslicensepicture,jdbcType=VARCHAR},
      </if>
      <if test="businesscertificatenumber != null" >
        BusinessCertificateNumber = #{businesscertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="businesscertificatevalidity != null" >
        BusinessCertificateValidity = #{businesscertificatevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="businesscertificatepicture != null" >
        BusinessCertificatePicture = #{businesscertificatepicture,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        BusinessScope = #{businessscope,jdbcType=VARCHAR},
      </if>
      <if test="businessscopecode != null" >
        BusinessScopeCode = #{businessscopecode,jdbcType=VARCHAR},
      </if>
      <if test="firstbusiness != null" >
        FirstBusiness = #{firstbusiness,jdbcType=INTEGER},
      </if>
      <if test="makeorderdate != null" >
        MakeOrderDate = #{makeorderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="makeorderman != null" >
        makeOrderMan = #{makeorderman,jdbcType=INTEGER},
      </if>
      <if test="isreview != null" >
        IsReview = #{isreview,jdbcType=INTEGER},
      </if>
      <if test="cooperationstatus != null" >
        CooperationStatus = #{cooperationstatus,jdbcType=INTEGER},
      </if>
      <if test="recordnumber != null" >
        RecordNumber = #{recordnumber,jdbcType=VARCHAR},
      </if>
      <if test="recordvalidity != null" >
        RecordValidity = #{recordvalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="recordapprovedate != null" >
        RecordApproveDate = #{recordapprovedate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordissuingauthority != null" >
        RecordIssuingAuthority = #{recordissuingauthority,jdbcType=VARCHAR},
      </if>
      <if test="recordpicture != null" >
        RecordPicture = #{recordpicture,jdbcType=VARCHAR},
      </if>
      <if test="certificateapprovedate != null" >
        CertificateApproveDate = #{certificateapprovedate,jdbcType=DATE},
      </if>
      <if test="certificateissuingauthority != null" >
        CertificateIssuingAuthority = #{certificateissuingauthority,jdbcType=VARCHAR},
      </if>
      <if test="suppliertype != null" >
        SupplierType = #{suppliertype,jdbcType=INTEGER},
      </if>
      <if test="productioncertificatenumber != null" >
        ProductionCertificateNumber = #{productioncertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="productioncertificatevalidity != null" >
        ProductionCertificateValidity = #{productioncertificatevalidity,jdbcType=TIMESTAMP},
      </if>
      <if test="productioncertificationpicture != null" >
        ProductionCertificationPicture = #{productioncertificationpicture,jdbcType=VARCHAR},
      </if>
      <if test="productionscope != null" >
        ProductionScope = #{productionscope,jdbcType=VARCHAR},
      </if>
      <if test="productionscopecode != null" >
        ProductionScopeCode = #{productionscopecode,jdbcType=VARCHAR},
      </if>
      <if test="productionaddress != null" >
        ProductionAddress = #{productionaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where Supplier_ID = #{supplierId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hhu.ssm.po.WmsBaseSupplier" >
    update wms_base_supplier
    set Supplier_Number = #{supplierNumber,jdbcType=VARCHAR},
      SupplierCode = #{suppliercode,jdbcType=VARCHAR},
      SupplierName = #{suppliername,jdbcType=VARCHAR},
      BusinessLicenseNumber = #{businesslicensenumber,jdbcType=VARCHAR},
      BusinessLicenseValidity = #{businesslicensevalidity,jdbcType=TIMESTAMP},
      BusinessLicensePicture = #{businesslicensepicture,jdbcType=VARCHAR},
      BusinessCertificateNumber = #{businesscertificatenumber,jdbcType=VARCHAR},
      BusinessCertificateValidity = #{businesscertificatevalidity,jdbcType=TIMESTAMP},
      BusinessCertificatePicture = #{businesscertificatepicture,jdbcType=VARCHAR},
      BusinessScope = #{businessscope,jdbcType=VARCHAR},
      BusinessScopeCode = #{businessscopecode,jdbcType=VARCHAR},
      FirstBusiness = #{firstbusiness,jdbcType=INTEGER},
      MakeOrderDate = #{makeorderdate,jdbcType=TIMESTAMP},
      makeOrderMan = #{makeorderman,jdbcType=INTEGER},
      IsReview = #{isreview,jdbcType=INTEGER},
      CooperationStatus = #{cooperationstatus,jdbcType=INTEGER},
      RecordNumber = #{recordnumber,jdbcType=VARCHAR},
      RecordValidity = #{recordvalidity,jdbcType=TIMESTAMP},
      RecordApproveDate = #{recordapprovedate,jdbcType=TIMESTAMP},
      RecordIssuingAuthority = #{recordissuingauthority,jdbcType=VARCHAR},
      RecordPicture = #{recordpicture,jdbcType=VARCHAR},
      CertificateApproveDate = #{certificateapprovedate,jdbcType=DATE},
      CertificateIssuingAuthority = #{certificateissuingauthority,jdbcType=VARCHAR},
      SupplierType = #{suppliertype,jdbcType=INTEGER},
      ProductionCertificateNumber = #{productioncertificatenumber,jdbcType=VARCHAR},
      ProductionCertificateValidity = #{productioncertificatevalidity,jdbcType=TIMESTAMP},
      ProductionCertificationPicture = #{productioncertificationpicture,jdbcType=VARCHAR},
      ProductionScope = #{productionscope,jdbcType=VARCHAR},
      ProductionScopeCode = #{productionscopecode,jdbcType=VARCHAR},
      ProductionAddress = #{productionaddress,jdbcType=VARCHAR}
    where Supplier_ID = #{supplierId,jdbcType=INTEGER}
  </update>
</mapper>