<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hhu.ssm.mapper.WmsImorderLogMapper" >
  <resultMap id="BaseResultMap" type="cn.hhu.ssm.po.WmsImorderLog" >
    <id column="IMOrder_LogID" property="imorderLogid" jdbcType="INTEGER" />
    <result column="IMOrder_ID" property="imorderId" jdbcType="INTEGER" />
    <result column="IMOrder_PreModifiedState" property="imorderPremodifiedstate" jdbcType="VARCHAR" />
    <result column="IMOrder_ModifiedState" property="imorderModifiedstate" jdbcType="VARCHAR" />
    <result column="Employee_ID" property="employeeId" jdbcType="INTEGER" />
    <result column="ModifyMan" property="modifyman" jdbcType="VARCHAR" />
    <result column="ModifiedDate" property="modifieddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IMOrder_LogID, IMOrder_ID, IMOrder_PreModifiedState, IMOrder_ModifiedState, Employee_ID, 
    ModifyMan, ModifiedDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hhu.ssm.po.WmsImorderLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wms_imorder_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wms_imorder_log
    where IMOrder_LogID = #{imorderLogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wms_imorder_log
    where IMOrder_LogID = #{imorderLogid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hhu.ssm.po.WmsImorderLogExample" >
    delete from wms_imorder_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hhu.ssm.po.WmsImorderLog" >
    insert into wms_imorder_log (IMOrder_LogID, IMOrder_ID, IMOrder_PreModifiedState, 
      IMOrder_ModifiedState, Employee_ID, ModifyMan, 
      ModifiedDate)
    values (#{imorderLogid,jdbcType=INTEGER}, #{imorderId,jdbcType=INTEGER}, #{imorderPremodifiedstate,jdbcType=VARCHAR}, 
      #{imorderModifiedstate,jdbcType=VARCHAR}, #{employeeId,jdbcType=INTEGER}, #{modifyman,jdbcType=VARCHAR}, 
      #{modifieddate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.hhu.ssm.po.WmsImorderLog" >
    insert into wms_imorder_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imorderLogid != null" >
        IMOrder_LogID,
      </if>
      <if test="imorderId != null" >
        IMOrder_ID,
      </if>
      <if test="imorderPremodifiedstate != null" >
        IMOrder_PreModifiedState,
      </if>
      <if test="imorderModifiedstate != null" >
        IMOrder_ModifiedState,
      </if>
      <if test="employeeId != null" >
        Employee_ID,
      </if>
      <if test="modifyman != null" >
        ModifyMan,
      </if>
      <if test="modifieddate != null" >
        ModifiedDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imorderLogid != null" >
        #{imorderLogid,jdbcType=INTEGER},
      </if>
      <if test="imorderId != null" >
        #{imorderId,jdbcType=INTEGER},
      </if>
      <if test="imorderPremodifiedstate != null" >
        #{imorderPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="imorderModifiedstate != null" >
        #{imorderModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifieddate != null" >
        #{modifieddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hhu.ssm.po.WmsImorderLogExample" resultType="java.lang.Integer" >
    select count(*) from wms_imorder_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wms_imorder_log
    <set >
      <if test="record.imorderLogid != null" >
        IMOrder_LogID = #{record.imorderLogid,jdbcType=INTEGER},
      </if>
      <if test="record.imorderId != null" >
        IMOrder_ID = #{record.imorderId,jdbcType=INTEGER},
      </if>
      <if test="record.imorderPremodifiedstate != null" >
        IMOrder_PreModifiedState = #{record.imorderPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="record.imorderModifiedstate != null" >
        IMOrder_ModifiedState = #{record.imorderModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        Employee_ID = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyman != null" >
        ModifyMan = #{record.modifyman,jdbcType=VARCHAR},
      </if>
      <if test="record.modifieddate != null" >
        ModifiedDate = #{record.modifieddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wms_imorder_log
    set IMOrder_LogID = #{record.imorderLogid,jdbcType=INTEGER},
      IMOrder_ID = #{record.imorderId,jdbcType=INTEGER},
      IMOrder_PreModifiedState = #{record.imorderPremodifiedstate,jdbcType=VARCHAR},
      IMOrder_ModifiedState = #{record.imorderModifiedstate,jdbcType=VARCHAR},
      Employee_ID = #{record.employeeId,jdbcType=INTEGER},
      ModifyMan = #{record.modifyman,jdbcType=VARCHAR},
      ModifiedDate = #{record.modifieddate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hhu.ssm.po.WmsImorderLog" >
    update wms_imorder_log
    <set >
      <if test="imorderId != null" >
        IMOrder_ID = #{imorderId,jdbcType=INTEGER},
      </if>
      <if test="imorderPremodifiedstate != null" >
        IMOrder_PreModifiedState = #{imorderPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="imorderModifiedstate != null" >
        IMOrder_ModifiedState = #{imorderModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        Employee_ID = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="modifyman != null" >
        ModifyMan = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifieddate != null" >
        ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IMOrder_LogID = #{imorderLogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hhu.ssm.po.WmsImorderLog" >
    update wms_imorder_log
    set IMOrder_ID = #{imorderId,jdbcType=INTEGER},
      IMOrder_PreModifiedState = #{imorderPremodifiedstate,jdbcType=VARCHAR},
      IMOrder_ModifiedState = #{imorderModifiedstate,jdbcType=VARCHAR},
      Employee_ID = #{employeeId,jdbcType=INTEGER},
      ModifyMan = #{modifyman,jdbcType=VARCHAR},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP}
    where IMOrder_LogID = #{imorderLogid,jdbcType=INTEGER}
  </update>
</mapper>