<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hhu.ssm.mapper.WmsReceivingrecordsLogMapper" >
  <resultMap id="BaseResultMap" type="cn.hhu.ssm.po.WmsReceivingrecordsLog" >
    <id column="ReceivingRecords_LogID" property="receivingrecordsLogid" jdbcType="INTEGER" />
    <result column="ReceivingRecords_ID" property="receivingrecordsId" jdbcType="INTEGER" />
    <result column="ReceivingRecords_PreModifiedState" property="receivingrecordsPremodifiedstate" jdbcType="VARCHAR" />
    <result column="ReceivingRecords_ModifiedState" property="receivingrecordsModifiedstate" jdbcType="VARCHAR" />
    <result column="Employee_ID" property="employeeId" jdbcType="INTEGER" />
    <result column="ModifyMan" property="modifyman" jdbcType="VARCHAR" />
    <result column="ModifiedDate" property="modifieddate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ReceivingRecords_LogID, ReceivingRecords_ID, ReceivingRecords_PreModifiedState, ReceivingRecords_ModifiedState, 
    Employee_ID, ModifyMan, ModifiedDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wms_receivingrecords_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wms_receivingrecords_log
    where ReceivingRecords_LogID = #{receivingrecordsLogid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wms_receivingrecords_log
    where ReceivingRecords_LogID = #{receivingrecordsLogid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLogExample" >
    delete from wms_receivingrecords_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLog" >
    insert into wms_receivingrecords_log (ReceivingRecords_LogID, ReceivingRecords_ID, 
      ReceivingRecords_PreModifiedState, ReceivingRecords_ModifiedState, 
      Employee_ID, ModifyMan, ModifiedDate
      )
    values (#{receivingrecordsLogid,jdbcType=INTEGER}, #{receivingrecordsId,jdbcType=INTEGER}, 
      #{receivingrecordsPremodifiedstate,jdbcType=VARCHAR}, #{receivingrecordsModifiedstate,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=INTEGER}, #{modifyman,jdbcType=VARCHAR}, #{modifieddate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLog" >
    insert into wms_receivingrecords_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="receivingrecordsLogid != null" >
        ReceivingRecords_LogID,
      </if>
      <if test="receivingrecordsId != null" >
        ReceivingRecords_ID,
      </if>
      <if test="receivingrecordsPremodifiedstate != null" >
        ReceivingRecords_PreModifiedState,
      </if>
      <if test="receivingrecordsModifiedstate != null" >
        ReceivingRecords_ModifiedState,
      </if>
      <if test="employeeId != null" >
        Employee_ID,
      </if>
      <if test="modifyman != null" >
        ModifyMan,
      </if>
      <if test="modifieddate != null" >
        ModifiedDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="receivingrecordsLogid != null" >
        #{receivingrecordsLogid,jdbcType=INTEGER},
      </if>
      <if test="receivingrecordsId != null" >
        #{receivingrecordsId,jdbcType=INTEGER},
      </if>
      <if test="receivingrecordsPremodifiedstate != null" >
        #{receivingrecordsPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="receivingrecordsModifiedstate != null" >
        #{receivingrecordsModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifieddate != null" >
        #{modifieddate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLogExample" resultType="java.lang.Integer" >
    select count(*) from wms_receivingrecords_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wms_receivingrecords_log
    <set >
      <if test="record.receivingrecordsLogid != null" >
        ReceivingRecords_LogID = #{record.receivingrecordsLogid,jdbcType=INTEGER},
      </if>
      <if test="record.receivingrecordsId != null" >
        ReceivingRecords_ID = #{record.receivingrecordsId,jdbcType=INTEGER},
      </if>
      <if test="record.receivingrecordsPremodifiedstate != null" >
        ReceivingRecords_PreModifiedState = #{record.receivingrecordsPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="record.receivingrecordsModifiedstate != null" >
        ReceivingRecords_ModifiedState = #{record.receivingrecordsModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        Employee_ID = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyman != null" >
        ModifyMan = #{record.modifyman,jdbcType=VARCHAR},
      </if>
      <if test="record.modifieddate != null" >
        ModifiedDate = #{record.modifieddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wms_receivingrecords_log
    set ReceivingRecords_LogID = #{record.receivingrecordsLogid,jdbcType=INTEGER},
      ReceivingRecords_ID = #{record.receivingrecordsId,jdbcType=INTEGER},
      ReceivingRecords_PreModifiedState = #{record.receivingrecordsPremodifiedstate,jdbcType=VARCHAR},
      ReceivingRecords_ModifiedState = #{record.receivingrecordsModifiedstate,jdbcType=VARCHAR},
      Employee_ID = #{record.employeeId,jdbcType=INTEGER},
      ModifyMan = #{record.modifyman,jdbcType=VARCHAR},
      ModifiedDate = #{record.modifieddate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLog" >
    update wms_receivingrecords_log
    <set >
      <if test="receivingrecordsId != null" >
        ReceivingRecords_ID = #{receivingrecordsId,jdbcType=INTEGER},
      </if>
      <if test="receivingrecordsPremodifiedstate != null" >
        ReceivingRecords_PreModifiedState = #{receivingrecordsPremodifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="receivingrecordsModifiedstate != null" >
        ReceivingRecords_ModifiedState = #{receivingrecordsModifiedstate,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        Employee_ID = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="modifyman != null" >
        ModifyMan = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="modifieddate != null" >
        ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ReceivingRecords_LogID = #{receivingrecordsLogid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hhu.ssm.po.WmsReceivingrecordsLog" >
    update wms_receivingrecords_log
    set ReceivingRecords_ID = #{receivingrecordsId,jdbcType=INTEGER},
      ReceivingRecords_PreModifiedState = #{receivingrecordsPremodifiedstate,jdbcType=VARCHAR},
      ReceivingRecords_ModifiedState = #{receivingrecordsModifiedstate,jdbcType=VARCHAR},
      Employee_ID = #{employeeId,jdbcType=INTEGER},
      ModifyMan = #{modifyman,jdbcType=VARCHAR},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP}
    where ReceivingRecords_LogID = #{receivingrecordsLogid,jdbcType=INTEGER}
  </update>
</mapper>